<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>University Registrar</title>
    </head>
    <body>
        <h1>University Registrar</h1>

        <p>
            Your <a href="/students">students</a> page
        </p>

        <p>
            Your <a href="/courses">courses</a> page
        </p>
    </body>
</html>
